<p>All right kid, speak to me. What's this joint about? Gimme the skinny.</p>

<div style="margin:40px;">
<%= form_for @show do |f| %>

  <%= f.collection_check_boxes(:tropes, @show.genre.tropes.all, :id, :name) do |t| %>
  <div class="row">
    <%= t.label(class: "check_box") do %>
    <%= t.check_box(class: "check_box") %>
    <%= t.object.name %>
    <% end %>
  </div>
  <% end %>
</div>

   <br><br>

<p>Now, pick your leads.</p>
<div style="margin:40px;">
  <%= f.collection_check_boxes(:actors, Actor.all, :id, :name) do |a| %>
  <div class="row">
    <%= a.label(class: "check-box") do %>
    <%= a.check_box(class: "check-box") %>
    <%= a.object.name %>
    <% end %>
  </div>
  <% end %>
</div>

<br>

  <%= f.submit %>

<% end %>
