<h3><%= @show.genre.name %>'s hot right now. But what's this joint about? Gimme the skinny.</h3><br><br>


<p>It's got all the classic beats. Audiences want timeless stories, and we've got:</p>

<div style="margin:40px;">
<%= form_for @show do |f| %>

  <%= f.collection_check_boxes(:tropes, @show.genre.tropes.all, :id, :name) do |t| %>
  <div class="row">
    <%= t.label(class: "check_box") do %>
    <%= t.check_box(class: "check_box") %>
    <%= t.object.name %>
    <% end %>
  </div>
  <% end %>
</div>

   <br><br>

<h3>I love it. I want it. I need it. Who's gonna start in this thing?</h3><br>

<p>That's the best part. Look who's lined up to play ball:</p>
<div style="margin:40px;">
  <%= f.collection_check_boxes(:actors, Actor.all, :id, :name) do |a| %>
  <div class="row">
    <%= a.label(class: "check-box") do %>
    <%= a.check_box(class: "check-box") %>
    <%= a.object.name %>
    <% end %>
  </div>
  <% end %>
</div>

<br>

  <%= f.submit "Greenlight Me, Baby"%>

<% end %>
