<h1>This show's a surefire hit. And the Emmy goes to: <%= @show.title %></h1><br>
<h3>It's like <%= @show.influences[0].title%> meets <%= @show.influences[1].title%>.</h3><br>
<h4>It's got all the beats these modern audiences love:</h4>
<ul>
  <% @show.tropes.each do |trope|%>
    <li>
      <%= trope.name %>: <%= trope.description %><br>
    </li>
  <% end  %>
</ul>

<h4>And look at this lineup! We've got stars for days:</h4>
<ul>
  <% @show.actors.each do |actor| %>
    <li>
      <%= link_to actor.name, actor %>
    </li>
  <% end  %>
</ul>
