<h1>Your show: <%= @show.title %></h1><br>
<h3>It's like <%= @show.influences[0].title%> meets <%= @show.influences[1].title%>.</h3><br>
<h4>Tropes:</h4>
<ul>
  <% @show.tropes.each do |trope|%>
    <li>
      <%= trope.name %>: <%= trope.description %><br>
    </li>
  <% end  %>
</ul>

<h4>Actors:</h4>
<ul>
  <% @show.actors.each do |actor| %>
    <li>
      <%= link_to actor.name, actor %>
    </li>
  <% end  %>
</ul>
