<!DOCTYPE html>
<html>
  <head>
    <title>Greenlight</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar  navbar-inverse text-monospace">
       <div class="navbar-class">
         <div class="container">
           <% if session[:logged_in_producer_id] %>
           <ul class = nav>
               <li class="nav-item">
                 <p class = "nav-link">
                   <%= link_to "LOGOUT", logout_path, method: :delete, id: session[:logged_in_producer_id]  %>
                 </p>
               </li>
               <li class="nav-item">
               <p class="nav-link"> <%= link_to "PROFILE", profile_path(@producer) %></p>
               </li>
               <li class="nav-item">
               <p class="nav-link"><%= link_to "MAKE A NEW SHOW", new_show_path %></p>
               </li>
              <% else %>
              <ul class=nav>
                <li class="nav-item">
                  <p class="nav-link"><%= link_to "SIGN UP", new_producer_path %></p>
                </li>
              </ul>
             <% end %>
           </ul>


         </div>
      </div>
    </header>

    <div style="margin-left:30px;" class="text-monospace">

    <%= yield %>

    </div>
  </body>
</html>
