<!DOCTYPE html>
<html>
  <head>
    <title>Greenlight</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar  navbar-inverse">
       <div class="navbar-class">
         <div class="container">
           <ul class = nav navbar-nav>
             <% if @producer %>
               <li><%= link_to "LOGOUT", logout_path, method: :delete, id: session[:logged_in_producer_id]  %></li>
               <li><%= link_to "PROFILE", producer_path(@producer) %></li>
              <% else %>
             <% end %>
           </ul>


         </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
